/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.main-container {
  background: coral;
}
html {
  background: blue;
}
h1 {
  font-family: 'Bahianita', cursive;
  font-size: 400%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  border: solid 1px black;
}
h2 {
  font-family: 'Literata', serif;
  font-size: 175%;
  padding: 20px 0px;
}
h3 {
  font-family: 'DM Serif Text', serif;
  font-size: 155%;
  padding: 20px 0px;
}
p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 135%;
  padding: 20px 0px;
}
li {
  font-family: 'Barriecito', cursive;
  font-size: 100%;
}
nav a {
  font-family: 'Notable', sans-serif;
  padding: 10px;
}
.top-nav {
  display: flex;
  justify-content: flex-end;
}
.main-img img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.title-text-and-img {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.listen-good {
  display: flex;
}
.listen-up {
  width: 50%;
}
.good-things {
  width: 50%;
}
.copyright {
  display: flex;
  justify-content: center;
}
button {
  background-color: blue;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (max-width: 500px) {
  .main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  button {
    display: none;
  }
  .listen-good {
    flex-direction: column-reverse;
    align-items: center;
  }
  .history {
    display: flex;
    border: solid 1px black;
    flex-direction: column-reverse;
    align-items: center;
  }
  .work-history {
    width: 50%;
  }
  .continued {
    width: 50%;
  }
}
